page-home {
  .text-center{
    text-align: center;
  }
  .btn{
    width: 120px;
    background: white;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    color: black;
  }
  .facebook{
    background: cornflowerblue;
    color: white;
  }
}
